{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class="mt-4 mb-4">Today's game results:</h1>

  {% if all_games %}
    <div class="row mb-2 font-weight-bold">
      <div class="col-sm">
        Date played
      </div>
      <div class="col-sm">
        Game
      </div>
      <div class="col-sm">
        Total letters guessed
      </div>
      <div class="col-sm">
        Duration (seconds)
      </div>
    </div>
    {% for game in all_games %}
      <div class="row mb-1">
        <div class="col-sm">
          {{ game.game_start.strftime('%Y-%m-%d %H:%M') }}
        </div>
        <div class="col-sm" style="color: {% if game.game_result %}green{% else %}red{% endif %};">
          {{ "WIN" if game.game_result else "LOST" }}
        </div>
        <div class="col-sm">
          {{ game.total_letters_guessed }}
        </div>
        <div class="col-sm">
          {{ game.duration }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No game statistics available.</p>
  {% endif %}
</div>

{% endblock %}